@{
    ViewBag.Title = "Admin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

User name : @User.Identity.Name
<br>
Authentication type @User.Identity.AuthenticationType
@HttpContext.Current.User.Identity.ToString()